[Desktop Entry]
Name=Bumblebee Indicator
Comment=Bumblebee Indicator to display a status of NVidia Optimus card and dual sceen display
Icon=bumblebee-icon-active
Exec=bumblebee-indicator
Terminal=false
Type=Application
NoDisplay=false
NotShowIn=KDE;
X-GNOME-Bugzilla-Bugzilla=Launchpad
X-GNOME-Bugzilla-Product=BumblebeeIndicator
X-GNOME-Bugzilla-Component=bumblebee-indicator
X-GNOME-Autostart-enabled=true
AutostartCondition=GNOME3 unless-session gnome
X-GNOME-UsesNotifications=true
X-Ubuntu-Gettext-Domain=bumblebee-indicator
